* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
}
ul {
  display: inline-flex;
  list-style-type: none;
}
li {
  border-right: 1px solid rgb(218, 218, 218);
}
li a {
  font-family: "Raleway", sans-serif;
  display: block;
  color: black;
  background-color: white;
  font-weight: 650;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  padding: 20px 24px;
}
li a:hover {
  color: white;
  background-color: black;
}
.seperator-1 {
  border-bottom: 0px;
  border-color: transparent;
  border-top: 1px solid rgb(218, 218, 218);
}
.title h1 {
  margin: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
}
.seperator-2 {
  border-color: transparent;
  border-bottom: 4px solid black;
}
.row {
  background-color: rgb(240, 240, 240);
  height: 100%;
  width: 100%;
}
.column-left {
  float: left;

  height: 100%;
  width: 60%;
}
.column-right {
  background-color: white;
  float: right;
  height: 100%;
  width: 40%;
}
#search-bar {
  padding: 20px;
  width: 100%;
}
#search-bar input {
  border-radius: 5px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 16px;
  border: 1.5px solid rgb(218, 218, 218);
}

.img-container {
  position: relative;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/SriRawin/news_pro.github.io/master/images/anirudh.jpg);
  background-size: cover;
  height: 50rem;
  margin: 20px;
  border-right: 1px solid rgb(218, 218, 218);
}
.img-container h1 {
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  width: fit-content;
  padding: 7px 16px;
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
}
.stack-row {
  position: absolute;
  bottom: 12px;
  right: 16px;
  display: inline-flex;
}
.stack-row li {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: black;
  padding: 15px;
  border: none;
}
.stack-row li:hover {
  background-color: orangered;
}
.thick-seperator {
  border-bottom: 3px solid black;
  border-top: 0px solid transparent;
  margin: 20px;
}

.thin-seperator {
  border-bottom: 1.5px solid rgb(218, 218, 218);
  border-top: 0px solid transparent;
  margin: 20px;
}
h2 {
  font-size: 19px;
  text-align: center;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.img-container-2 {
  background-image: url(https://raw.githubusercontent.com/SriRawin/news_pro.github.io/master/images/side_news.jpg);
  background-size: cover;
  width: 94%;
  height: 40%;
  margin: 20px;
}
.side_news {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
}
.headlines {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  margin: 20px 20px 0px 20px;
}
.one-line {
  color: red;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 20px;
}
.sub-left {
  height: 100%;
  float: left;
  background-color: white;
  width: 50%;

  border-top: 1px solid rgb(218, 218, 218);
}
.sub-right {
  float: right;
  width: 50%;
  height: 100%;
  background-color: white;
  border-left: 1px solid rgb(218, 218, 218);
  border-top: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
}
.img-container-3 {
  background-image: url(https://raw.githubusercontent.com/SriRawin/news_pro.github.io/master/images/featured_story.jpg);
  background-size: cover;
  width: 91%;
  height: 35%;
  margin: 0px 20px 20px 20px;
}
.recent-posts {
  text-align: center;
  color: red;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
}
